.flexnav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
nav {
	padding-top: 8px;
	padding-bottom: 8px;
	border-color: white;
	border-style: inset;
	border-radius: 20px;
	margin: 25px;
}

header {
	nav {
		a {
			color: white;
			text-decoration: none;
			margin: 4px;
			font-weight: bold;
			padding: 3px;
			&:hover {
				background-color: blue;
				color: rgb(255, 255, 255);
				
			}
			&:active {
				background-color: aliceblue;
				color: black;
			}
		}
	}
}